/* CORPO */
body {
	font-family:arial;
	margin:0;
	padding:0;
	text-align:center;
}

/* IDS */
#base {
	width:970px;
	margin:0 auto;
	background-color:#FFF;
	color:#333;
	border:1px solid gray;
	font-family: Arial;
}
#topo {
	background-color:#ddd;
	border-botton:1px solid gray;
	padding:20px;
}
#menu {
	width:170px;
	padding:15px;
	background-color:#FFF;
	font-size:20px;
}
#conteudo {
	width:740px;
	padding:15px;
	min-height:250px;
	height:240px;
	background-color:#eee;
}
#rodape {
	border-top:1px solid gray;
	margin:0;
	padding:20px;
	background-color:#ddd;
	clear:both;
}

/* CLASSES */
.fl { float:left; }
.fr { float:right; }